@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Barlow&display=swap');

body {
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: rgb(67, 58, 75);
    color: white;
}

.screen {
    width: 100%;
    height: calc(100% - 40px);
}

#start-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    text-align: center;
    text-wrap: balance;
}

#start-screen img {
    border-radius: 10px;
}

#start-screen h3 {
    margin: 0;
}

.try-now {
    all: unset;
    width: calc(100% - 50px);
    padding: 10px;
    background-color: blueviolet;
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    max-width: 500px;
    transition: all .10s linear;
    box-shadow: 0 0 10px #999999, 0 0 20px blueviolet, 0 0 30px #110e0f, 0 0 10px blueviolet, 0 0 50px blueviolet;
    user-select: none;
}

.try-now:hover {
    transform: scale(1.03);
}

.try-now:active {
    background-color: rgb(124, 39, 203);
}

.message {
    font-family: 'Mooli', sans-serif;
    text-align: center;
}

.message a {
    all: unset;
    cursor: pointer;
    color: lightblue;
}

@media screen and (max-height:500px) {
    #start-screen {
        min-height: 400px;
        display: block;
    }

    .try-now {
        position: absolute;
        left: 50%;
        translate: -50% 0;
    }
}